{{#each this}}
  <a class='gallery__link' href='{{this.largeImageURL}}'>
    <div class='photo-card'>
      <img
        class='photo-card__img'
        src='{{this.webformatURL}}'
        alt='{{this.tags}}'
        loading='lazy'
      />
      <div class='info'>
        <p class='info-item'>
          <b>Likes:</b>
          <span class='info-item__value'>{{this.likes}}</span>
        </p>
        <p class='info-item'>
          <b>Comments:</b>
          <span class='info-item__value'>{{this.comments}}</span>
        </p>
        <p class='info-item'>
          <b>Views:</b>
          <span class='info-item__value'>{{this.views}}</span>
        </p>
        <p class='info-item'>
          <b>Downloads:</b>
          <span class='info-item__value'>{{this.downloads}}</span>
        </p>
      </div>
    </div>
  </a>
{{/each}}